body {
    background-color: #546;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 180px;
    height: 200px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box .fa-heart {
   align-self: flex-start;
}

.box .fa-paper-plane {
    align-self: center;
 }
 

.box .fa-heart:hover {
    background-color: gray;
}

.box .fa-paper-plane:hover {
    background-color: red;
}


.fa-heart, .fa-paper-plane, .fa-bookmark {
    font-size: 1.5rem;
}


.home .banner {

}

.about .banner {

}

.btn-primary {
    background-color: red;
}